body {
    background-color:darkgray;
}
#pyro{
    z-index: 1;
    width:100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#white{
    position: absolute;
    z-index: 2;
    width:80%;
    height:170%;
    left: 10%;
    top: 130%
}
#genshin-banner {
    position: absolute;
    z-index: 4;
    width: 80%;
    height: 120%;
    left: 10%;
    top: 130%;
    
}

#title-pyro{
    font-family:'Times New Roman', Times, serif;
    color:white;
    position: absolute;
    z-index: 4;
    font-size:600%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:130%;
}
#gray{
    position: absolute;
    top: 130%;
    z-index: 3;
    width:60%;
    height: 167%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#info{
    position: absolute;
    color: black;
    z-index: 4;
    font-size: 20px;
    top: 173%;
    padding-left: 21%;
    padding-right: 42%;
    font-family: Arial, Helvetica, sans-serif;
}
#pyro-badge{
    position: absolute;
    z-index: 4;
    top: 170%;
    left: 59%;
    border: solid;
    border-width: 3px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
#list{
    position: relative;
    color: black;
    z-index: 4;
    font-size: 20px;
    top: 160%;
    padding-left: 65%;
    padding-right: 42%;
    font-family: Arial, Helvetica, sans-serif;
}
